{%- assign ticks = [] -%}
{%- assign size = timeline_stops | size | minus: 1 %}
{%- for i in (0..size) -%}
  {%- assign current = i | split: ' ' %}
  {%- assign ticks = ticks | concat: current -%}
{%- endfor -%}
<div class="row">
  <div class="col-xs-1">
    <button type="button" id="timeline-slider--play-pause" class="btn btn-block">
      <span class="glyphicon glyphicon-play"></span>
    </button>
  </div>

  <div class="col-xs-1">
    <button type="button" id="timeline-slider--backward" class="btn btn-block" disabled="true">
      <span class="glyphicon glyphicon-backward"></span>
    </button>
  </div>

  <div class="col-xs-9 text-center">
    {% assign labels = timeline_stops | join: '","' %}
    <input
      id="timeline-slider"
      type="text"
      data-provide="slider"
      data-slider-lock-to-ticks="true"
      data-slider-ticks="[{{ ticks | join: ',' }}]"
      data-slider-ticks-labels='["{{ labels }}"]'
      data-slider-tooltip="hide"
      style="width: inherit;"
    />
  </div>

  <div class="col-xs-1">
    <button type="button" id="timeline-slider--forward" class="btn btn-block">
      <span class="glyphicon glyphicon-forward"></span>
    </button>
  </div>
</div>

<div class="container-fluid timeline-legend">
  Click play button to start. Click any year to skip to that map.
</div>
