---
# need to keep this here to compile as css
---
html,
body {
  max-width: 100%;
}

body {
  background-color: #a2998b;
  color: #000002;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a {
  color: #4ea8d8;

  &:hover, &:focus {
    color: #1d5f83;
  }
}

figure img {
  margin-bottom: 1rem;
  width: 100%;
}

figcaption {
  font-size: 1.25rem;
  font-style: italic;
}

#title h1 {
  color: #e8e6e2;
  font-weight: bold;
}

.chapter {
  h2 small {
    margin-left: 2rem;
  }
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.header-container {
  background-color: #ffffff;
  background-image: url("/assets/images/map_header.png");
  width: 100%;

  h1,
  h2 {
    float: right;
    clear: both;
  }

  a,
  a:hover,
  a:focus {
    color: #ffffff;
  }
}

#navbar-container {
  background-image: linear-gradient(to bottom, #545454, #333333);
  border: medium none;
  border-radius: 0;
}

#navbar-menu {
  height: 64px;

  li {
    padding-left: 2px;
    padding-right: 2px;

    &.open > a {
      color: #222;
    }

    a {
      text-align: center;
      height: 64px;
      font-size: 1.2em;
      color: #ffffff;
      line-height: 42px;

      &:active,
      &:focus,
      &:hover {
        color: #222;
      }
    }

    .dropdown-menu {
      background-color: #222;
      margin-top: 0px;
      min-width: 100%;
    }
  }
}

.navbar-brand {
  height: 64px;
  padding: 8px;

  img {
    height: 48px;
  }
}

.navbar-header {
  float: inherit;
}

.nav-container {
  background-image: linear-gradient(to bottom, #545454, #333333);
  border: none;
  border-radius: 0;
}

#title .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-pills > li > a {
  background-color: #ffffff;
}

#content {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 2rem;

  .container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

#breadcrumbs {
  font-weight: inherit;
}

#notes {
  padding-left: 12px;
  padding-right: 12px;
  font-size: smaller;
}

.map img {
  width: 100%;
}

.map-legend-container img {
  width: 100%;
}

.slider-tick-label {
  transform: translateX(-10px) translateY(5px) rotate(-45deg);
}

.legend-block {
  border: 1px solid transparent;
  display: inline-block;
  height: 24px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 100%;
}

.container-fluid.timeline-legend {
  color: lighten(#1e1e1e, 20%);
  font-size: .9em;
  font-style: italic;
  margin-top: 1.5rem;
  text-align: center;
}
