---
layout: default
---

<div class="container-fluid">
  <section id="title">
    <div class="container-fluid">
      <h1><em>Pure Adulteration</em> Digital Companion Site</h1>

      <ul class="nav nav-pills pull-right">
        <li role="presentation">
          <a href="/copyright">Copyright</a>
        </li>
      </ul>
    </div>
  </section>

  <section id="content">
    <div class="container-fluid">
      <div class="row">
        <figure class="col-xs-4">
          <img src="/assets/images/berghaus_hydra.png">
          <figcaption>
            A. Berghaus, “The Hydra-Headed Monster of Adulteration.” Rural New Yorker, May 1887
          </figcaption>
        </figure>

        <div class="col-xs-8">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
</div>
