---
layout: page
stylesheets:
  - /assets/css/bootstrap-slider-10.6.1.min.css
scripts:
  - /assets/js/bootstrap-slider-10.6.1.min.js
  - /assets/js/timeline-slider.js
---
{% assign key = page.data_key %}
{% assign data = site.data.maps[key] %}
{% assign map_data = data.maps %}
{% assign legend_data = data.legend %}
{% assign timeline_stops = map_data | map: 'timeline' %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="col-sm-{% if legend_data %}10{% else %}12{% endif %} text-center">
      {% include maps/map-display.html map_data=map_data %}
    </div>

    {%- if legend_data -%}
    <div class="col-sm-2">
      {% include maps/map-legend.html legend_data=legend_data %}
    </div>
    {%- endif -%}
  </div>

  {%- if data.horizontal_legend -%}
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <img class="img-responsive" src="{{ data.horizontal_legend.src }}" />
    </div>
  </div>

  {%- endif -%}

  <div class="container-fluid">
    {% include maps/timeline-slider.html timeline_stops=timeline_stops %}
  </div>

  <div class="container-fluid">
    {{ content }}
  </div>
</div>
