---
layout: page
stylesheets:
  - /assets/css/bootstrap-slider-10.6.1.min.css
  - /assets/css/ekko-lightbox.min.css
scripts:
  - /assets/js/bootstrap-slider-10.6.1.min.js
  - /assets/js/ekko-lightbox.min.js
  - /assets/js/timeline-slider.js
---
{% assign key = page.data_key %}
{% assign data = site.data.maps[key] %}
{% assign map_data = data.maps %}
{% assign legend_data = data.legend %}
{% assign timeline_stops = map_data | map: 'timeline' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2 class="entry-location">{{ map_data.first.location }}</h2>
      {% for entry in map_data %}
        {% assign class_name = 'container-fluid paraf-entry' %}
        {% unless forloop.first %}
          {% assign class_name = class_name | append: ' hidden' %}
        {% endunless %}

        {% include maps/paraf-narrative.html entry=entry %}
      {% endfor %}
    </div>

    <div class="col-sm-8">
      <article class="container-fluid">
        {{ content }}
      </article>

      <div class="container-fluid">
        {% include maps/map-display.html map_data=map_data %}
      </div>

      <div class="container-fluid">
        {% include maps/timeline-slider.html timeline_stops=timeline_stops %}

        <script>
          $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
          });
        </script>
      </div>
    </div>
  </div>
</div>
